{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% translate 'Model Stats' %} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo;
        <a href="{% url 'model-stats' %}">{% translate 'Stats' %}</a>
    </div>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <th>{% translate 'Model' %}</th>
            <th>{% translate 'Field' %}</th>
            <th>{% translate 'Count' %}</th>
            <th>{% translate 'Usage' %}</th>
        </thead>
        <tbody>
            {% for model in stats %}
                <tr>
                    <th>{{ model.name }}</th>
                    <th></th>
                    <td>{{ model.count }}</th>
                </tr>
                {% for field in model.fields %}
                    <tr>
                        <th>{{ model.name }}</th>
                        <th>{{ field.name }}</th>
                        <td>{{ field.count }}</th>
                        <td>{{ field.percent|default:'—' }}</th>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
